body {
  text-align: center;
  font-family: times;
  background-color: black;
  color: white;
  margin : 50px 100px;
  width: 90%;
  height: 90%;
  }
.head {
  font-weight: bold;
  font-size: 25px;
  color: lightgreen;
}
p {
  background-color: rgba(0,155,250,.2);
  border-radius: 25px;
}
div {
  margin : 10px 200px;
  background-color: rgba(0,155,275,.2);
  border-radius: 25px;
}
a {
  color: green;
}
form {
  text-align: center;
  background-color: black;
}
span{
	text-color: red;
	background-color: white;
}
